/* Base style */
*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

button:hover {
  transition: all .3s linear;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  transition: all .3s linear;
}

ul {
  margin: 0;
  list-style-type: none;
}

label {
  cursor: pointer;
}

/* Wrapper */
.wrapper {
    min-width: 36rem;
    margin: 0 auto;
}

/* Container */
.container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
    padding-top: 2.4rem;
}

.header__logo {
    margin: 0 auto;
    width: 3.6rem;
    height: 3.8rem;
}

.title {
    width: 95%;
    font-size: 3.2rem;
    color: #000;
    margin: 2.2rem auto 2rem;
    text-align: center;
    letter-spacing: -1px;
}

.header__btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.4rem;
}

.btn {
    width: 100%;
    height: 5.2rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: 1.8rem;
}

.btn.registr {
  margin-bottom: 1.6rem;
}

.btn.registr,
.btn.login:hover {
    background-color: #0057FF;
    color: #fff;
}


.btn.login,
.btn.registr:hover {
    background-color: #fff;
    border:  1px solid #0057FF;
    font-weight: normal;
    color: #000;
}

.header__background {
    height: 16rem;
    width: 100%;
}

/* section info*/
.info {
  background-color: #0057FF;
  color: #fff;
  padding: 3.6rem 0 .1rem;
}

.info__block {  
  width: 80%;
  margin: 0 auto 32px;
}
.info__num {
  font-size: 4.8rem;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin-bottom: .5rem;
}
.info__txt {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  width: 57%;
  margin: 0 auto;
  text-align: center;
}

/* section posts */
.posts {
  padding: 4.1rem 0 0;
}

.posts__title {
  color: #000;
  font-size: 2.4rem;
  margin-bottom: 1.1rem;
}

.post {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E9E9E9;
}

.post:last-child {
  border-bottom: none;
}
.post_wrap {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 16%;
}

.avatar img {
  border-radius: 50%;
}

.post__block {
  width: 80%;
}

.post__top {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #000;
}

.user-name {
  color: #ABACB1;
  font-weight: 400;
}

.post__time {
  color: #ABACB1;
  font-size: 1rem;
  font-weight: 400;
  width: 20%;
  text-align: right;
}

.post__txt {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.1rem 0 .9rem;
  letter-spacing: .5px;
}

.post__img {
  margin-bottom: .7rem;
}

.post__img img {
  border-radius: 1rem;
}
.post__icons {
  display: flex;
  justify-content: flex-start;
  color: #B1B1B1;
  font-size: 1.4rem;
  font-weight: 400;
}

.replies,
.likes,
.save {
  display: flex;
  width: 31%;
  align-items: end;
}

.replies__num,
.save__num,
.likes__num {
  margin-left: .8rem;
}
.replies__icon {
  width: 2rem;
  height: 1.2rem;
  display: block;
  background-image: url(../image/post/reply.svg);
  background-repeat: no-repeat;
}

.likes__icon {
  width: 2rem;
  height: 1.3rem;
  display: block;
  background-image: url(../image/post/like.svg);
  background-repeat: no-repeat;
}

.save__icon {
  width: 2rem;
  height: 1.4rem;
  display: block;
  background-image: url(../image/post/save.svg);
  background-repeat: no-repeat;
}

/* FOOTER */
.footer {
  padding: 1.1rem 0 3.6rem;
}
.footer .title {
  margin: 0 auto 2rem;
}